body {
    background-color:darkkhaki
}


.div-texto {
    background-color: white;
}

.div-texto2 {
    background-color: violet;
}

.div-texto3 {
    background-color: rgb(141, 110, 110);
}

.div-texto4 {
    background-color:brown;
}
.div-texto5 {
    background-color:blue;
}

.texto-meio {
    text-align: center;
}

.texto10 {
    color:aqua;
    
}